.web{
    margin:10%;
}

.images-page{
  width: 45%;
  display:inline-block;
}

.info-page{
  margin:30px;
  width: 45%;
  display:inline-block;
}

.order{
    display:block;
}

.big-image{
  margin: 0 0 10px 0;
}

.max{
  margin: 0 0 0 12px;
}

.big-pizza{
  width:100%;
}

.images{
  width:100%;
  
}

.image-one{
  width: 20%;
  display:inline-block;
}


.image-two{
  width: 20%;
  display:inline-block;
}

.image-three{
  width: 20%;
  display:inline-block;
}

.image-four{
  width: 20%;
  display:inline-block;
}

.fill{
  margin-top:10px;
}

.border-bottom{
  border-bottom: 2px solid black;
  width:100%;
  padding:0 0 20px 0;
}